# Frontend
node_modules/
.next/
out/
build/
dist/
.cache/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend / Java leftovers
target/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
*.jar
*.war

# IDE / OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
